.WalkthroughButton {
    position: relative;
    top: 10px;
    width: 116px;
    height: 25px;
    background-color: #f6f6f6;
    border: 1px solid black;
    box-shadow: 1px 1px 0px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding: 0.3em 0.8em;
    margin: 2px;
}

.WalkthroughHighlight {
    background-color: rgba(255,255,255,.2);
}

.WalkthroughTooltip {
    font-family: sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: 2px outset;
}

/*.introjs-prevbutton {
    visibility: hidden;
    display: none;
}*/
